html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background: linear-gradient(#141e30, #243b55); */
}

.page {
    width: 100%;
    height: 100%;
}


/* picture */

.Title {
    position: absolute;
    display: block;
    margin-left: -2%;
    left: 50%;
    float: left;
    margin-top: -8%;
}


/* nav styling */

ul {
    margin: auto;
    padding: 0;
    list-style: none;
    justify-content: space-around;
    color: rgb(22, 20, 20);
    padding: 2rem;
    width: 90%;
}

nav ul {
    display: flex;
    flex: 1 1 10rem;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

li {
    color: #201820;
    display: inline;
    justify-content: space-between;
}


/* hire me button */

.hire-me {
    position: inherit;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
    margin-left: 10%;
    top: 0%;
    bottom: 0%;
    width: 20%;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    position: sticky;
    background-color: #f8a800;
    border: none;
    padding: 18px 32px;
    display: inline-block;
    font-size: 16px;
    /* animation: 1s linear infinite; */
    animation: blink-animation 3s steps(3, start) infinite;
    -webkit-animation: blink-animation 4s steps(3, start) infinite;
}

a {
    text-decoration: none;
}

.hire-me a {
    text-decoration: none;
}

.hire-me:hover {
    background-color: #e69d00;
}

.brief {
    margin-top: 10%;
    margin-left: 10%;
    letter-spacing: 1px;
}


/* footer */

footer {
    position: absolute;
    background-color: #201820;
    width: 100%;
    margin-top: 19%;
    padding: 1rem;
    color: cornsilk;
}


/* services */


/* services */

.services {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.s-heading {
    text-align: center;
}

.s-heading h1 {
    color: #f8a800;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
}

.s-heading p {
    color: #f8a800;
    font-size: 1rem;
    margin: 5px;
    text-align: center;
}

.s-box-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    padding: 20px 25px;
    height: 400px;
    box-sizing: border-box;
    margin: 30px;
    position: relative;
    color: #fff;
    box-shadow: 5px 10x #888888;
    /* background-color: rgb(224, 252, 224); */
    background-color: hsl(41, 100%, 90%);
}

.s-box img {
    height: 75px;
}

.s-box h1 {
    color: #201820;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.s-box p {
    color: #201820;
    text-align: center;
}

.loader {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.s-btn {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #f8a800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8a800;
    margin-top: 10px;
}

.bar {
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    background-color: #f8a800;
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.5s;
}

.s-box:hover {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
    transition: all ease 0.3s;
}

.s-btn:hover {
    background-color: #f8a800;
    border: 1px solid #f8a800;
    color: #FFFFFF;
    transition: all ease 0.3s;
}

.s-box:hover .bar {
    display: block;
}

.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    margin-left: 18rem;
    margin-top: 3rem;
    border: rgb(126, 1, 1) 2px solid;
}


/* form */

form {
    background-color: #f8a800;
    justify-self: center;
    width: 40%;
    margin: auto;
    border-radius: 5%;
    color: #fff;
}

.form-style-1 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
    color: #ffffff;
}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-select {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
    background: #ffffff;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #332e33;
    border-radius: 2px;
}

.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover {
    background: hsl(0, 0%, 100%);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-style-1 .required {
    color: #ffffff;
}


/* footer */

.footer-distributed {
    /* background: #666; */
    background: #201820;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}


/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #f8a800;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #f8a800;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    /* color: #92999f; */
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

#my-logo {
    size: 16px;
}